:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --gray-50: rgba(249, 250, 251, 1);
    --gray-100: rgba(243, 244, 246, 1);
    --gray-200: rgba(229, 231, 235, 1);
    --gray-300: rgba(209, 213, 219, 1);
    --gray-400: rgba(156, 163, 175, 1);
    --gray-500: rgba(107, 114, 128, 1);
    --gray-600: rgba(75, 85, 99, 1);
    --gray-700: rgba(55, 65, 81, 1);
    --gray-800: rgba(31, 41, 55, 1);
    --gray-900: rgba(17, 24, 39, 1);
    --red-50: rgba(254, 242, 242, 1);
    --red-100: rgba(254, 226, 226, 1);
    --red-200: rgba(254, 202, 202, 1);
    --red-300: rgba(252, 165, 165, 1);
    --red-400: rgba(248, 113, 113, 1);
    --red-500: rgba(239, 68, 68, 1);
    --red-600: rgba(220, 38, 38, 1);
    --red-700: rgba(185, 28, 28, 1);
    --red-800: rgba(153, 27, 27, 1);
    --red-900: rgba(127, 29, 29, 1);
    --orange-50: rgba(255, 247, 237, 1);
    --orange-100: rgba(255, 237, 213, 1);
    --orange-200: rgba(254, 215, 170, 1);
    --orange-300: rgba(253, 186, 116, 1);
    --orange-400: rgba(251, 146, 60, 1);
    --orange-500: rgba(249, 115, 22, 1);
    --orange-600: rgba(234, 88, 12, 1);
    --orange-700: rgba(194, 65, 12, 1);
    --orange-800: rgba(154, 52, 18, 1);
    --orange-900: rgba(124, 45, 18, 1);
    --yellow-50: rgba(255, 251, 235, 1);
    --yellow-100: rgba(254, 243, 199, 1);
    --yellow-200: rgba(253, 230, 138, 1);
    --yellow-300: rgba(252, 211, 77, 1);
    --yellow-400: rgba(251, 191, 36, 1);
    --yellow-500: rgba(245, 158, 11, 1);
    --yellow-600: rgba(217, 119, 6, 1);
    --yellow-700: rgba(180, 83, 9, 1);
    --yellow-800: rgba(146, 64, 14, 1);
    --yellow-900: rgba(120, 53, 15, 1);
    --green-50: rgba(236, 253, 245, 1);
    --green-100: rgba(209, 250, 229, 1);
    --green-200: rgba(167, 243, 208, 1);
    --green-300: rgba(110, 231, 183, 1);
    --green-400: rgba(52, 211, 153, 1);
    --green-500: rgba(16, 185, 129, 1);
    --green-600: rgba(5, 150, 105, 1);
    --green-700: rgba(4, 120, 87, 1);
    --green-800: rgba(6, 95, 70, 1);
    --green-900: rgba(6, 78, 59, 1);
    --teal-50: rgba(240, 253, 250, 1);
    --teal-100: rgba(204, 251, 241, 1);
    --teal-200: rgba(153, 246, 228, 1);
    --teal-300: rgba(94, 234, 212, 1);
    --teal-400: rgba(45, 212, 191, 1);
    --teal-500: rgba(20, 184, 166, 1);
    --teal-600: rgba(13, 148, 136, 1);
    --teal-700: rgba(15, 118, 110, 1);
    --teal-800: rgba(17, 94, 89, 1);
    --teal-900: rgba(19, 78, 74, 1);
    --cyan-50: rgba(236, 254, 255, 1);
    --cyan-100: rgba(207, 250, 254, 1);
    --cyan-200: rgba(165, 243, 252, 1);
    --cyan-300: rgba(103, 232, 249, 1);
    --cyan-400: rgba(34, 211, 238, 1);
    --cyan-500: rgba(6, 182, 212, 1);
    --cyan-600: rgba(8, 145, 178, 1);
    --cyan-700: rgba(14, 116, 144, 1);
    --cyan-800: rgba(21, 94, 117, 1);
    --cyan-900: rgba(22, 78, 99, 1);
    --light-blue50: rgba(240, 249, 255, 1);
    --light-blue100: rgba(224, 242, 254, 1);
    --light-blue200: rgba(186, 230, 253, 1);
    --light-blue300: rgba(125, 211, 252, 1);
    --light-blue400: rgba(56, 189, 248, 1);
    --light-blue500: rgba(14, 165, 233, 1);
    --light-blue600: rgba(2, 132, 199, 1);
    --light-blue700: rgba(3, 105, 161, 1);
    --light-blue800: rgba(7, 89, 133, 1);
    --light-blue900: rgba(12, 74, 110, 1);
    --blue-50: rgba(239, 246, 255, 1);
    --blue-100: rgba(219, 234, 254, 1);
    --blue-200: rgba(191, 219, 254, 1);
    --blue-300: rgba(147, 197, 253, 1);
    --blue-400: rgba(96, 165, 250, 1);
    --blue-500: rgba(59, 130, 246, 1);
    --blue-600: rgba(37, 99, 235, 1);
    --blue-700: rgba(29, 78, 216, 1);
    --blue-800: rgba(30, 64, 175, 1);
    --blue-900: rgba(30, 58, 138, 1);
    --indigo-50: rgba(238, 242, 255, 1);
    --indigo-100: rgba(224, 231, 255, 1);
    --indigo-200: rgba(199, 210, 254, 1);
    --indigo-300: rgba(165, 180, 252, 1);
    --indigo-400: rgba(129, 140, 248, 1);
    --indigo-500: rgba(99, 102, 241, 1);
    --indigo-600: rgba(79, 70, 229, 1);
    --indigo-700: rgba(67, 56, 202, 1);
    --indigo-800: rgba(55, 48, 163, 1);
    --indigo-900: rgba(49, 46, 129, 1);
    --purple-50: rgba(245, 243, 255, 1);
    --purple-100: rgba(237, 233, 254, 1);
    --purple-200: rgba(221, 214, 254, 1);
    --purple-300: rgba(196, 181, 253, 1);
    --purple-400: rgba(167, 139, 250, 1);
    --purple-500: rgba(139, 92, 246, 1);
    --purple-600: rgba(124, 58, 237, 1);
    --purple-700: rgba(109, 40, 217, 1);
    --purple-800: rgba(91, 33, 182, 1);
    --purple-900: rgba(76, 29, 149, 1);
    --pink-50: rgba(253, 242, 248, 1);
    --pink-100: rgba(252, 231, 243, 1);
    --pink-200: rgba(251, 207, 232, 1);
    --pink-300: rgba(249, 168, 212, 1);
    --pink-400: rgba(244, 114, 182, 1);
    --pink-500: rgba(236, 72, 153, 1);
    --pink-600: rgba(219, 39, 119, 1);
    --pink-700: rgba(190, 24, 93, 1);
    --pink-800: rgba(157, 23, 77, 1);
    --pink-900: rgba(131, 24, 67, 1);
    --rose-50: rgba(255, 241, 242, 1);
    --rose-100: rgba(255, 228, 230, 1);
    --rose-200: rgba(254, 205, 211, 1);
    --rose-300: rgba(253, 164, 175, 1);
    --rose-400: rgba(251, 113, 133, 1);
    --rose-500: rgba(244, 63, 94, 1);
    --rose-600: rgba(225, 29, 72, 1);
    --rose-700: rgba(190, 18, 60, 1);
    --rose-800: rgba(159, 18, 57, 1);
    --rose-900: rgba(136, 19, 55, 1);
    --text-xs-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-xs-leading-none-font-normal-font-weight: 400;
    --text-xs-leading-none-font-normal-font-size: 12px;
    --text-xs-leading-none-font-normal-letter-spacing: 0px;
    --text-xs-leading-none-font-normal-line-height: 12px;
    --text-xs-leading-none-font-normal-font-style: normal;
    --text-xs-leading-4-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-xs-leading-4-font-normal-font-weight: 400;
    --text-xs-leading-4-font-normal-font-size: 12px;
    --text-xs-leading-4-font-normal-letter-spacing: 0px;
    --text-xs-leading-4-font-normal-line-height: 16px;
    --text-xs-leading-4-font-normal-font-style: normal;
    --text-xs-leading-4-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-xs-leading-4-font-medium-font-weight: 500;
    --text-xs-leading-4-font-medium-font-size: 12px;
    --text-xs-leading-4-font-medium-letter-spacing: 0px;
    --text-xs-leading-4-font-medium-line-height: 16px;
    --text-xs-leading-4-font-medium-font-style: normal;
    --text-xs-leading-4-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-xs-leading-4-font-semibold-font-weight: 600;
    --text-xs-leading-4-font-semibold-font-size: 12px;
    --text-xs-leading-4-font-semibold-letter-spacing: 0px;
    --text-xs-leading-4-font-semibold-line-height: 16px;
    --text-xs-leading-4-font-semibold-font-style: normal;
    --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-family: "Inter-Medium", Helvetica;
    --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-weight: 500;
    --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-size: 12px;
    --text-xs-leading-4-font-medium-tracking-wider-uppercase-letter-spacing: 0.6px;
    --text-xs-leading-4-font-medium-tracking-wider-uppercase-line-height: 16px;
    --text-xs-leading-4-font-medium-tracking-wider-uppercase-font-style: normal;
    --text-xs-leading-4-font-medium-tracking-wide-uppercase-font-family: "Inter-Medium", Helvetica;
    --text-xs-leading-4-font-medium-tracking-wide-uppercase-font-weight: 500;
    --text-xs-leading-4-font-medium-tracking-wide-uppercase-font-size: 12px;
    --text-xs-leading-4-font-medium-tracking-wide-uppercase-letter-spacing: 0.3px;
    --text-xs-leading-4-font-medium-tracking-wide-uppercase-line-height: 16px;
    --text-xs-leading-4-font-medium-tracking-wide-uppercase-font-style: normal;
    --text-xs-leading-4-font-semibold-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-xs-leading-4-font-semibold-uppercase-font-weight: 600;
    --text-xs-leading-4-font-semibold-uppercase-font-size: 12px;
    --text-xs-leading-4-font-semibold-uppercase-letter-spacing: 0px;
    --text-xs-leading-4-font-semibold-uppercase-line-height: 16px;
    --text-xs-leading-4-font-semibold-uppercase-font-style: normal;
    --text-xs-leading-4-font-semibold-tracking-wide-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-xs-leading-4-font-semibold-tracking-wide-uppercase-font-weight: 600;
    --text-xs-leading-4-font-semibold-tracking-wide-uppercase-font-size: 12px;
    --text-xs-leading-4-font-semibold-tracking-wide-uppercase-letter-spacing: 0.3px;
    --text-xs-leading-4-font-semibold-tracking-wide-uppercase-line-height: 16px;
    --text-xs-leading-4-font-semibold-tracking-wide-uppercase-font-style: normal;
    --text-xs-leading-4-font-semibold-tracking-wider-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-xs-leading-4-font-semibold-tracking-wider-uppercase-font-weight: 600;
    --text-xs-leading-4-font-semibold-tracking-wider-uppercase-font-size: 12px;
    --text-xs-leading-4-font-semibold-tracking-wider-uppercase-letter-spacing: 0.6px;
    --text-xs-leading-4-font-semibold-tracking-wider-uppercase-line-height: 16px;
    --text-xs-leading-4-font-semibold-tracking-wider-uppercase-font-style: normal;
    --text-xs-leading-5-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-xs-leading-5-font-normal-font-weight: 400;
    --text-xs-leading-5-font-normal-font-size: 12px;
    --text-xs-leading-5-font-normal-letter-spacing: 0px;
    --text-xs-leading-5-font-normal-line-height: 20px;
    --text-xs-leading-5-font-normal-font-style: normal;
    --text-xs-leading-5-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-xs-leading-5-font-medium-font-weight: 500;
    --text-xs-leading-5-font-medium-font-size: 12px;
    --text-xs-leading-5-font-medium-letter-spacing: 0px;
    --text-xs-leading-5-font-medium-line-height: 20px;
    --text-xs-leading-5-font-medium-font-style: normal;
    --text-xs-leading-5-font-semibold-tracking-wide-uppercase-font-family: "Inter-Medium", Helvetica;
    --text-xs-leading-5-font-semibold-tracking-wide-uppercase-font-weight: 500;
    --text-xs-leading-5-font-semibold-tracking-wide-uppercase-font-size: 12px;
    --text-xs-leading-5-font-semibold-tracking-wide-uppercase-letter-spacing: 0.3px;
    --text-xs-leading-5-font-semibold-tracking-wide-uppercase-line-height: 20px;
    --text-xs-leading-5-font-semibold-tracking-wide-uppercase-font-style: normal;
    --text-sm-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-sm-leading-none-font-normal-font-weight: 400;
    --text-sm-leading-none-font-normal-font-size: 14px;
    --text-sm-leading-none-font-normal-letter-spacing: 0px;
    --text-sm-leading-none-font-normal-line-height: 14px;
    --text-sm-leading-none-font-normal-font-style: normal;
    --text-sm-leading-4-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-sm-leading-4-font-medium-font-weight: 500;
    --text-sm-leading-4-font-medium-font-size: 14px;
    --text-sm-leading-4-font-medium-letter-spacing: 0px;
    --text-sm-leading-4-font-medium-line-height: 16px;
    --text-sm-leading-4-font-medium-font-style: normal;
    --text-sm-leading-5-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-sm-leading-5-font-normal-font-weight: 400;
    --text-sm-leading-5-font-normal-font-size: 14px;
    --text-sm-leading-5-font-normal-letter-spacing: 0px;
    --text-sm-leading-5-font-normal-line-height: 20px;
    --text-sm-leading-5-font-normal-font-style: normal;
    --text-sm-leading-5-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-sm-leading-5-font-medium-font-weight: 500;
    --text-sm-leading-5-font-medium-font-size: 14px;
    --text-sm-leading-5-font-medium-letter-spacing: 0px;
    --text-sm-leading-5-font-medium-line-height: 20px;
    --text-sm-leading-5-font-medium-font-style: normal;
    --text-sm-leading-5-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-sm-leading-5-font-semibold-font-weight: 600;
    --text-sm-leading-5-font-semibold-font-size: 14px;
    --text-sm-leading-5-font-semibold-letter-spacing: 0px;
    --text-sm-leading-5-font-semibold-line-height: 20px;
    --text-sm-leading-5-font-semibold-font-style: normal;
    --text-sm-leading-5-font-normal-underline-font-family: "Inter-Regular", Helvetica;
    --text-sm-leading-5-font-normal-underline-font-weight: 400;
    --text-sm-leading-5-font-normal-underline-font-size: 14px;
    --text-sm-leading-5-font-normal-underline-letter-spacing: 0px;
    --text-sm-leading-5-font-normal-underline-line-height: 20px;
    --text-sm-leading-5-font-normal-underline-font-style: normal;
    --text-sm-leading-5-font-normal-italic-font-family: "Inter-Italic", Helvetica;
    --text-sm-leading-5-font-normal-italic-font-weight: 400;
    --text-sm-leading-5-font-normal-italic-font-size: 14px;
    --text-sm-leading-5-font-normal-italic-letter-spacing: 0px;
    --text-sm-leading-5-font-normal-italic-line-height: 20px;
    --text-sm-leading-5-font-normal-italic-font-style: italic;
    --text-sm-leading-5-font-medium-underline-font-family: "Inter-Medium", Helvetica;
    --text-sm-leading-5-font-medium-underline-font-weight: 500;
    --text-sm-leading-5-font-medium-underline-font-size: 14px;
    --text-sm-leading-5-font-medium-underline-letter-spacing: 0px;
    --text-sm-leading-5-font-medium-underline-line-height: 20px;
    --text-sm-leading-5-font-medium-underline-font-style: normal;
    --text-sm-leading-5-font-medium-tracking-wide-uppercase-font-family: "Inter-Medium", Helvetica;
    --text-sm-leading-5-font-medium-tracking-wide-uppercase-font-weight: 500;
    --text-sm-leading-5-font-medium-tracking-wide-uppercase-font-size: 14px;
    --text-sm-leading-5-font-medium-tracking-wide-uppercase-letter-spacing: 0.35px;
    --text-sm-leading-5-font-medium-tracking-wide-uppercase-line-height: 20px;
    --text-sm-leading-5-font-medium-tracking-wide-uppercase-font-style: normal;
    --text-sm-leading-5-font-semibold-underline-font-family: "Inter-SemiBold", Helvetica;
    --text-sm-leading-5-font-semibold-underline-font-weight: 600;
    --text-sm-leading-5-font-semibold-underline-font-size: 14px;
    --text-sm-leading-5-font-semibold-underline-letter-spacing: 0px;
    --text-sm-leading-5-font-semibold-underline-line-height: 20px;
    --text-sm-leading-5-font-semibold-underline-font-style: normal;
    --text-sm-leading-5-font-semibold-tracking-wide-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-sm-leading-5-font-semibold-tracking-wide-uppercase-font-weight: 600;
    --text-sm-leading-5-font-semibold-tracking-wide-uppercase-font-size: 14px;
    --text-sm-leading-5-font-semibold-tracking-wide-uppercase-letter-spacing: 0.35px;
    --text-sm-leading-5-font-semibold-tracking-wide-uppercase-line-height: 20px;
    --text-sm-leading-5-font-semibold-tracking-wide-uppercase-font-style: normal;
    --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-weight: 600;
    --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-size: 14px;
    --text-sm-leading-5-font-semibold-tracking-wider-uppercase-letter-spacing: 0.7px;
    --text-sm-leading-5-font-semibold-tracking-wider-uppercase-line-height: 20px;
    --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-style: normal;
    --text-sm-leading-8-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-sm-leading-8-font-normal-font-weight: 400;
    --text-sm-leading-8-font-normal-font-size: 14px;
    --text-sm-leading-8-font-normal-letter-spacing: 0px;
    --text-sm-leading-8-font-normal-line-height: 32px;
    --text-sm-leading-8-font-normal-font-style: normal;
    --text-sm-leading-8-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-sm-leading-8-font-medium-font-weight: 500;
    --text-sm-leading-8-font-medium-font-size: 14px;
    --text-sm-leading-8-font-medium-letter-spacing: 0px;
    --text-sm-leading-8-font-medium-line-height: 32px;
    --text-sm-leading-8-font-medium-font-style: normal;
    --text-base-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-base-leading-none-font-normal-font-weight: 400;
    --text-base-leading-none-font-normal-font-size: 16px;
    --text-base-leading-none-font-normal-letter-spacing: 0px;
    --text-base-leading-none-font-normal-line-height: 16px;
    --text-base-leading-none-font-normal-font-style: normal;
    --text-base-leading-6-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-base-leading-6-font-normal-font-weight: 400;
    --text-base-leading-6-font-normal-font-size: 16px;
    --text-base-leading-6-font-normal-letter-spacing: 0px;
    --text-base-leading-6-font-normal-line-height: 24px;
    --text-base-leading-6-font-normal-font-style: normal;
    --text-base-leading-6-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-base-leading-6-font-medium-font-weight: 500;
    --text-base-leading-6-font-medium-font-size: 16px;
    --text-base-leading-6-font-medium-letter-spacing: 0px;
    --text-base-leading-6-font-medium-line-height: 24px;
    --text-base-leading-6-font-medium-font-style: normal;
    --text-base-leading-6-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-base-leading-6-font-semibold-font-weight: 600;
    --text-base-leading-6-font-semibold-font-size: 16px;
    --text-base-leading-6-font-semibold-letter-spacing: 0px;
    --text-base-leading-6-font-semibold-line-height: 24px;
    --text-base-leading-6-font-semibold-font-style: normal;
    --text-base-leading-6-font-bold-font-family: "Inter-Bold", Helvetica;
    --text-base-leading-6-font-bold-font-weight: 700;
    --text-base-leading-6-font-bold-font-size: 16px;
    --text-base-leading-6-font-bold-letter-spacing: 0px;
    --text-base-leading-6-font-bold-line-height: 24px;
    --text-base-leading-6-font-bold-font-style: normal;
    --text-base-leading-6-font-medium-underline-font-family: "Inter-Medium", Helvetica;
    --text-base-leading-6-font-medium-underline-font-weight: 500;
    --text-base-leading-6-font-medium-underline-font-size: 16px;
    --text-base-leading-6-font-medium-underline-letter-spacing: 0px;
    --text-base-leading-6-font-medium-underline-line-height: 24px;
    --text-base-leading-6-font-medium-underline-font-style: normal;
    --text-base-leading-6-font-semibold-tracking-wide-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-base-leading-6-font-semibold-tracking-wide-uppercase-font-weight: 600;
    --text-base-leading-6-font-semibold-tracking-wide-uppercase-font-size: 16px;
    --text-base-leading-6-font-semibold-tracking-wide-uppercase-letter-spacing: 0.4px;
    --text-base-leading-6-font-semibold-tracking-wide-uppercase-line-height: 24px;
    --text-base-leading-6-font-semibold-tracking-wide-uppercase-font-style: normal;
    --text-base-leading-6-font-semibold-tracking-wider-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-base-leading-6-font-semibold-tracking-wider-uppercase-font-weight: 600;
    --text-base-leading-6-font-semibold-tracking-wider-uppercase-font-size: 16px;
    --text-base-leading-6-font-semibold-tracking-wider-uppercase-letter-spacing: 0.8px;
    --text-base-leading-6-font-semibold-tracking-wider-uppercase-line-height: 24px;
    --text-base-leading-6-font-semibold-tracking-wider-uppercase-font-style: normal;
    --text-base-leading-6-font-bold-underline-font-family: "Inter-Bold", Helvetica;
    --text-base-leading-6-font-bold-underline-font-weight: 700;
    --text-base-leading-6-font-bold-underline-font-size: 16px;
    --text-base-leading-6-font-bold-underline-letter-spacing: 0px;
    --text-base-leading-6-font-bold-underline-line-height: 24px;
    --text-base-leading-6-font-bold-underline-font-style: normal;
    --text-base-leading-7-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-base-leading-7-font-normal-font-weight: 400;
    --text-base-leading-7-font-normal-font-size: 16px;
    --text-base-leading-7-font-normal-letter-spacing: 0px;
    --text-base-leading-7-font-normal-line-height: 28px;
    --text-base-leading-7-font-normal-font-style: normal;
    --text-base-leading-7-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-base-leading-7-font-semibold-font-weight: 600;
    --text-base-leading-7-font-semibold-font-size: 16px;
    --text-base-leading-7-font-semibold-letter-spacing: 0px;
    --text-base-leading-7-font-semibold-line-height: 28px;
    --text-base-leading-7-font-semibold-font-style: normal;
    --text-base-leading-7-font-medium-underline-font-family: "Inter-Medium", Helvetica;
    --text-base-leading-7-font-medium-underline-font-weight: 500;
    --text-base-leading-7-font-medium-underline-font-size: 16px;
    --text-base-leading-7-font-medium-underline-letter-spacing: 0px;
    --text-base-leading-7-font-medium-underline-line-height: 28px;
    --text-base-leading-7-font-medium-underline-font-style: normal;
    --text-base-leading-8-font-medium-italic-font-family: "Inter-MediumItalic", Helvetica;
    --text-base-leading-8-font-medium-italic-font-weight: 500;
    --text-base-leading-8-font-medium-italic-font-size: 16px;
    --text-base-leading-8-font-medium-italic-letter-spacing: 0px;
    --text-base-leading-8-font-medium-italic-line-height: 28px;
    --text-base-leading-8-font-medium-italic-font-style: italic;
    --text-base-leading-5-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-base-leading-5-font-normal-font-weight: 400;
    --text-base-leading-5-font-normal-font-size: 16px;
    --text-base-leading-5-font-normal-letter-spacing: 0px;
    --text-base-leading-5-font-normal-line-height: 20px;
    --text-base-leading-5-font-normal-font-style: normal;
    --text-lg-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-lg-leading-none-font-normal-font-weight: 400;
    --text-lg-leading-none-font-normal-font-size: 18px;
    --text-lg-leading-none-font-normal-letter-spacing: 0px;
    --text-lg-leading-none-font-normal-line-height: 18px;
    --text-lg-leading-none-font-normal-font-style: normal;
    --text-lg-leading-6-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-lg-leading-6-font-normal-font-weight: 400;
    --text-lg-leading-6-font-normal-font-size: 18px;
    --text-lg-leading-6-font-normal-letter-spacing: 0px;
    --text-lg-leading-6-font-normal-line-height: 24px;
    --text-lg-leading-6-font-normal-font-style: normal;
    --text-lg-leading-6-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-lg-leading-6-font-medium-font-weight: 500;
    --text-lg-leading-6-font-medium-font-size: 18px;
    --text-lg-leading-6-font-medium-letter-spacing: 0px;
    --text-lg-leading-6-font-medium-line-height: 24px;
    --text-lg-leading-6-font-medium-font-style: normal;
    --text-lg-leading-6-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-lg-leading-6-font-semibold-font-weight: 600;
    --text-lg-leading-6-font-semibold-font-size: 18px;
    --text-lg-leading-6-font-semibold-letter-spacing: 0px;
    --text-lg-leading-6-font-semibold-line-height: 24px;
    --text-lg-leading-6-font-semibold-font-style: normal;
    --text-lg-leading-6-font-semibold-tracking-wider-uppercase-font-family: "Inter-SemiBold", Helvetica;
    --text-lg-leading-6-font-semibold-tracking-wider-uppercase-font-weight: 600;
    --text-lg-leading-6-font-semibold-tracking-wider-uppercase-font-size: 18px;
    --text-lg-leading-6-font-semibold-tracking-wider-uppercase-letter-spacing: 0.9px;
    --text-lg-leading-6-font-semibold-tracking-wider-uppercase-line-height: 24px;
    --text-lg-leading-6-font-semibold-tracking-wider-uppercase-font-style: normal;
    --text-lg-leading-7-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-lg-leading-7-font-normal-font-weight: 400;
    --text-lg-leading-7-font-normal-font-size: 18px;
    --text-lg-leading-7-font-normal-letter-spacing: 0px;
    --text-lg-leading-7-font-normal-line-height: 28px;
    --text-lg-leading-7-font-normal-font-style: normal;
    --text-lg-leading-7-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-lg-leading-7-font-medium-font-weight: 500;
    --text-lg-leading-7-font-medium-font-size: 18px;
    --text-lg-leading-7-font-medium-letter-spacing: 0px;
    --text-lg-leading-7-font-medium-line-height: 28px;
    --text-lg-leading-7-font-medium-font-style: normal;
    --text-lg-leading-7-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-lg-leading-7-font-semibold-font-weight: 600;
    --text-lg-leading-7-font-semibold-font-size: 18px;
    --text-lg-leading-7-font-semibold-letter-spacing: 0px;
    --text-lg-leading-7-font-semibold-line-height: 28px;
    --text-lg-leading-7-font-semibold-font-style: normal;
    --text-lg-leading-7-font-bold-font-family: "Inter-Bold", Helvetica;
    --text-lg-leading-7-font-bold-font-weight: 700;
    --text-lg-leading-7-font-bold-font-size: 18px;
    --text-lg-leading-7-font-bold-letter-spacing: 0px;
    --text-lg-leading-7-font-bold-line-height: 28px;
    --text-lg-leading-7-font-bold-font-style: normal;
    --text-lg-leading-8-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-lg-leading-8-font-normal-font-weight: 400;
    --text-lg-leading-8-font-normal-font-size: 18px;
    --text-lg-leading-8-font-normal-letter-spacing: 0px;
    --text-lg-leading-8-font-normal-line-height: 32px;
    --text-lg-leading-8-font-normal-font-style: normal;
    --text-lg-leading-8-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-lg-leading-8-font-medium-font-weight: 500;
    --text-lg-leading-8-font-medium-font-size: 18px;
    --text-lg-leading-8-font-medium-letter-spacing: 0px;
    --text-lg-leading-8-font-medium-line-height: 32px;
    --text-lg-leading-8-font-medium-font-style: normal;
    --text-lg-leading-8-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-lg-leading-8-font-semibold-font-weight: 600;
    --text-lg-leading-8-font-semibold-font-size: 18px;
    --text-lg-leading-8-font-semibold-letter-spacing: 0px;
    --text-lg-leading-8-font-semibold-line-height: 32px;
    --text-lg-leading-8-font-semibold-font-style: normal;
    --text-lg-leading-8-font-medium-underline-font-family: "Inter-Medium", Helvetica;
    --text-lg-leading-8-font-medium-underline-font-weight: 500;
    --text-lg-leading-8-font-medium-underline-font-size: 18px;
    --text-lg-leading-8-font-medium-underline-letter-spacing: 0px;
    --text-lg-leading-8-font-medium-underline-line-height: 32px;
    --text-lg-leading-8-font-medium-underline-font-style: normal;
    --text-lg-leading-8-font-medium-italic-font-family: "Inter-MediumItalic", Helvetica;
    --text-lg-leading-8-font-medium-italic-font-weight: 500;
    --text-lg-leading-8-font-medium-italic-font-size: 18px;
    --text-lg-leading-8-font-medium-italic-letter-spacing: 0px;
    --text-lg-leading-8-font-medium-italic-line-height: 32px;
    --text-lg-leading-8-font-medium-italic-font-style: italic;
    --text-xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-xl-leading-none-font-normal-font-weight: 400;
    --text-xl-leading-none-font-normal-font-size: 20px;
    --text-xl-leading-none-font-normal-letter-spacing: 0px;
    --text-xl-leading-none-font-normal-line-height: 20px;
    --text-xl-leading-none-font-normal-font-style: normal;
    --text-xl-leading-7-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-xl-leading-7-font-normal-font-weight: 400;
    --text-xl-leading-7-font-normal-font-size: 20px;
    --text-xl-leading-7-font-normal-letter-spacing: 0px;
    --text-xl-leading-7-font-normal-line-height: 28px;
    --text-xl-leading-7-font-normal-font-style: normal;
    --text-xl-leading-7-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-xl-leading-7-font-medium-font-weight: 500;
    --text-xl-leading-7-font-medium-font-size: 20px;
    --text-xl-leading-7-font-medium-letter-spacing: 0px;
    --text-xl-leading-7-font-medium-line-height: 28px;
    --text-xl-leading-7-font-medium-font-style: normal;
    --text-xl-leading-7-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-xl-leading-7-font-semibold-font-weight: 600;
    --text-xl-leading-7-font-semibold-font-size: 20px;
    --text-xl-leading-7-font-semibold-letter-spacing: 0px;
    --text-xl-leading-7-font-semibold-line-height: 28px;
    --text-xl-leading-7-font-semibold-font-style: normal;
    --text-xl-leading-7-font-bold-font-family: "Inter-Bold", Helvetica;
    --text-xl-leading-7-font-bold-font-weight: 700;
    --text-xl-leading-7-font-bold-font-size: 20px;
    --text-xl-leading-7-font-bold-letter-spacing: 0px;
    --text-xl-leading-7-font-bold-line-height: 28px;
    --text-xl-leading-7-font-bold-font-style: normal;
    --text-xl-leading-8-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-xl-leading-8-font-normal-font-weight: 400;
    --text-xl-leading-8-font-normal-font-size: 20px;
    --text-xl-leading-8-font-normal-letter-spacing: 0px;
    --text-xl-leading-8-font-normal-line-height: 32px;
    --text-xl-leading-8-font-normal-font-style: normal;
    --text-xl-leading-8-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-xl-leading-8-font-semibold-font-weight: 600;
    --text-xl-leading-8-font-semibold-font-size: 20px;
    --text-xl-leading-8-font-semibold-letter-spacing: 0px;
    --text-xl-leading-8-font-semibold-line-height: 32px;
    --text-xl-leading-8-font-semibold-font-style: normal;
    --text-2xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-2xl-leading-none-font-normal-font-weight: 400;
    --text-2xl-leading-none-font-normal-font-size: 24px;
    --text-2xl-leading-none-font-normal-letter-spacing: 0px;
    --text-2xl-leading-none-font-normal-line-height: 24px;
    --text-2xl-leading-none-font-normal-font-style: normal;
    --text-2xl-leading-7-font-bold-font-family: "Inter-Bold", Helvetica;
    --text-2xl-leading-7-font-bold-font-weight: 700;
    --text-2xl-leading-7-font-bold-font-size: 24px;
    --text-2xl-leading-7-font-bold-letter-spacing: 0px;
    --text-2xl-leading-7-font-bold-line-height: 28px;
    --text-2xl-leading-7-font-bold-font-style: normal;
    --text-2xl-leading-8-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-2xl-leading-8-font-normal-font-weight: 400;
    --text-2xl-leading-8-font-normal-font-size: 24px;
    --text-2xl-leading-8-font-normal-letter-spacing: 0px;
    --text-2xl-leading-8-font-normal-line-height: 32px;
    --text-2xl-leading-8-font-normal-font-style: normal;
    --text-2xl-leading-8-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-2xl-leading-8-font-medium-font-weight: 500;
    --text-2xl-leading-8-font-medium-font-size: 24px;
    --text-2xl-leading-8-font-medium-letter-spacing: 0px;
    --text-2xl-leading-8-font-medium-line-height: 32px;
    --text-2xl-leading-8-font-medium-font-style: normal;
    --text-2xl-leading-8-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-2xl-leading-8-font-semibold-font-weight: 600;
    --text-2xl-leading-8-font-semibold-font-size: 24px;
    --text-2xl-leading-8-font-semibold-letter-spacing: 0px;
    --text-2xl-leading-8-font-semibold-line-height: 32px;
    --text-2xl-leading-8-font-semibold-font-style: normal;
    --text-2xl-leading-8-font-bold-font-family: "Inter-Bold", Helvetica;
    --text-2xl-leading-8-font-bold-font-weight: 700;
    --text-2xl-leading-8-font-bold-font-size: 24px;
    --text-2xl-leading-8-font-bold-letter-spacing: 0px;
    --text-2xl-leading-8-font-bold-line-height: 32px;
    --text-2xl-leading-8-font-bold-font-style: normal;
    --text-2xl-leading-8-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
    --text-2xl-leading-8-font-extrabold-font-weight: 800;
    --text-2xl-leading-8-font-extrabold-font-size: 24px;
    --text-2xl-leading-8-font-extrabold-letter-spacing: 0px;
    --text-2xl-leading-8-font-extrabold-line-height: 32px;
    --text-2xl-leading-8-font-extrabold-font-style: normal;
    --text-2xl-leading-8-font-extrabold-tracking-tight-font-family: "Inter-ExtraBold", Helvetica;
    --text-2xl-leading-8-font-extrabold-tracking-tight-font-weight: 800;
    --text-2xl-leading-8-font-extrabold-tracking-tight-font-size: 24px;
    --text-2xl-leading-8-font-extrabold-tracking-tight-letter-spacing: -0.6px;
    --text-2xl-leading-8-font-extrabold-tracking-tight-line-height: 32px;
    --text-2xl-leading-8-font-extrabold-tracking-tight-font-style: normal;
    --text-2xl-leading-9-font-medium-font-family: "Inter-Medium", Helvetica;
    --text-2xl-leading-9-font-medium-font-weight: 500;
    --text-2xl-leading-9-font-medium-font-size: 24px;
    --text-2xl-leading-9-font-medium-letter-spacing: 0px;
    --text-2xl-leading-9-font-medium-line-height: 36px;
    --text-2xl-leading-9-font-medium-font-style: normal;
    --text-3xl-leading-8-font-extrabold-tracking-tight-font-family: "Inter-ExtraBold", Helvetica;
    --text-3xl-leading-8-font-extrabold-tracking-tight-font-weight: 800;
    --text-3xl-leading-8-font-extrabold-tracking-tight-font-size: 30px;
    --text-3xl-leading-8-font-extrabold-tracking-tight-letter-spacing: -0.75px;
    --text-3xl-leading-8-font-extrabold-tracking-tight-line-height: 32px;
    --text-3xl-leading-8-font-extrabold-tracking-tight-font-style: normal;
    --text-3xl-leading-9-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-3xl-leading-9-font-normal-font-weight: 400;
    --text-3xl-leading-9-font-normal-font-size: 30px;
    --text-3xl-leading-9-font-normal-letter-spacing: 0px;
    --text-3xl-leading-9-font-normal-line-height: 36px;
    --text-3xl-leading-9-font-normal-font-style: normal;
    --text-3xl-leading-9-font-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-3xl-leading-9-font-semibold-font-weight: 600;
    --text-3xl-leading-9-font-semibold-font-size: 30px;
    --text-3xl-leading-9-font-semibold-letter-spacing: 0px;
    --text-3xl-leading-9-font-semibold-line-height: 36px;
    --text-3xl-leading-9-font-semibold-font-style: normal;
    --text-3xl-leading-9-font-bold-font-family: "Inter-Bold", Helvetica;
    --text-3xl-leading-9-font-bold-font-weight: 700;
    --text-3xl-leading-9-font-bold-font-size: 30px;
    --text-3xl-leading-9-font-bold-letter-spacing: 0px;
    --text-3xl-leading-9-font-bold-line-height: 36px;
    --text-3xl-leading-9-font-bold-font-style: normal;
    --text-3xl-leading-9-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
    --text-3xl-leading-9-font-extrabold-font-weight: 800;
    --text-3xl-leading-9-font-extrabold-font-size: 30px;
    --text-3xl-leading-9-font-extrabold-letter-spacing: 0px;
    --text-3xl-leading-9-font-extrabold-line-height: 36px;
    --text-3xl-leading-9-font-extrabold-font-style: normal;
    --text-3xl-leading-9-font-extrabold-tracking-tight-font-family: "Inter-ExtraBold", Helvetica;
    --text-3xl-leading-9-font-extrabold-tracking-tight-font-weight: 800;
    --text-3xl-leading-9-font-extrabold-tracking-tight-font-size: 30px;
    --text-3xl-leading-9-font-extrabold-tracking-tight-letter-spacing: -0.75px;
    --text-3xl-leading-9-font-extrabold-tracking-tight-line-height: 36px;
    --text-3xl-leading-9-font-extrabold-tracking-tight-font-style: normal;
    --text-3xl-leading-10-font-bold-font-family: "Inter-Bold", Helvetica;
    --text-3xl-leading-10-font-bold-font-weight: 700;
    --text-3xl-leading-10-font-bold-font-size: 30px;
    --text-3xl-leading-10-font-bold-letter-spacing: 0px;
    --text-3xl-leading-10-font-bold-line-height: 40px;
    --text-3xl-leading-10-font-bold-font-style: normal;
    --text-4xl-leading-10-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-4xl-leading-10-font-normal-font-weight: 400;
    --text-4xl-leading-10-font-normal-font-size: 36px;
    --text-4xl-leading-10-font-normal-letter-spacing: 0px;
    --text-4xl-leading-10-font-normal-line-height: 40px;
    --text-4xl-leading-10-font-normal-font-style: normal;
    --text-4xl-leading-10-font-medium-font-family: "Montserrat-Medium", Helvetica;
    --text-4xl-leading-10-font-medium-font-weight: 500;
    --text-4xl-leading-10-font-medium-font-size: 36px;
    --text-4xl-leading-10-font-medium-letter-spacing: 0px;
    --text-4xl-leading-10-font-medium-line-height: 40px;
    --text-4xl-leading-10-font-medium-font-style: normal;
    --text-4xl-leading-10-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
    --text-4xl-leading-10-font-extrabold-font-weight: 800;
    --text-4xl-leading-10-font-extrabold-font-size: 36px;
    --text-4xl-leading-10-font-extrabold-letter-spacing: 0px;
    --text-4xl-leading-10-font-extrabold-line-height: 40px;
    --text-4xl-leading-10-font-extrabold-font-style: normal;
    --text-4xl-leading-10-font-extrabold-tracking-tight-font-family: "Inter-ExtraBold", Helvetica;
    --text-4xl-leading-10-font-extrabold-tracking-tight-font-weight: 800;
    --text-4xl-leading-10-font-extrabold-tracking-tight-font-size: 36px;
    --text-4xl-leading-10-font-extrabold-tracking-tight-letter-spacing: -0.9px;
    --text-4xl-leading-10-font-extrabold-tracking-tight-line-height: 40px;
    --text-4xl-leading-10-font-extrabold-tracking-tight-font-style: normal;
    --text-5xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-5xl-leading-none-font-normal-font-weight: 400;
    --text-5xl-leading-none-font-normal-font-size: 48px;
    --text-5xl-leading-none-font-normal-letter-spacing: 0px;
    --text-5xl-leading-none-font-normal-line-height: 48px;
    --text-5xl-leading-none-font-normal-font-style: normal;
    --text-5xl-leading-none-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
    --text-5xl-leading-none-font-extrabold-font-weight: 800;
    --text-5xl-leading-none-font-extrabold-font-size: 48px;
    --text-5xl-leading-none-font-extrabold-letter-spacing: 0px;
    --text-5xl-leading-none-font-extrabold-line-height: 48px;
    --text-5xl-leading-none-font-extrabold-font-style: normal;
    --text-5xl-leading-none-font-extrabold-tracking-tight-font-family: "Inter-ExtraBold", Helvetica;
    --text-5xl-leading-none-font-extrabold-tracking-tight-font-weight: 800;
    --text-5xl-leading-none-font-extrabold-tracking-tight-font-size: 48px;
    --text-5xl-leading-none-font-extrabold-tracking-tight-letter-spacing: -1.2px;
    --text-5xl-leading-none-font-extrabold-tracking-tight-line-height: 48px;
    --text-5xl-leading-none-font-extrabold-tracking-tight-font-style: normal;
    --text-6xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-6xl-leading-none-font-normal-font-weight: 400;
    --text-6xl-leading-none-font-normal-font-size: 60px;
    --text-6xl-leading-none-font-normal-letter-spacing: 0px;
    --text-6xl-leading-none-font-normal-line-height: 60px;
    --text-6xl-leading-none-font-normal-font-style: normal;
    --text-6xl-leading-none-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
    --text-6xl-leading-none-font-extrabold-font-weight: 800;
    --text-6xl-leading-none-font-extrabold-font-size: 60px;
    --text-6xl-leading-none-font-extrabold-letter-spacing: 0px;
    --text-6xl-leading-none-font-extrabold-line-height: 60px;
    --text-6xl-leading-none-font-extrabold-font-style: normal;
    --text-6xl-leading-none-font-extrabold-tracking-tight-font-family: "Inter-ExtraBold", Helvetica;
    --text-6xl-leading-none-font-extrabold-tracking-tight-font-weight: 800;
    --text-6xl-leading-none-font-extrabold-tracking-tight-font-size: 60px;
    --text-6xl-leading-none-font-extrabold-tracking-tight-letter-spacing: -1.5px;
    --text-6xl-leading-none-font-extrabold-tracking-tight-line-height: 60px;
    --text-6xl-leading-none-font-extrabold-tracking-tight-font-style: normal;
    --text-7xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-7xl-leading-none-font-normal-font-weight: 400;
    --text-7xl-leading-none-font-normal-font-size: 72px;
    --text-7xl-leading-none-font-normal-letter-spacing: 0px;
    --text-7xl-leading-none-font-normal-line-height: 72px;
    --text-7xl-leading-none-font-normal-font-style: normal;
    --text-8xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-8xl-leading-none-font-normal-font-weight: 400;
    --text-8xl-leading-none-font-normal-font-size: 96px;
    --text-8xl-leading-none-font-normal-letter-spacing: 0px;
    --text-8xl-leading-none-font-normal-line-height: 96px;
    --text-8xl-leading-none-font-normal-font-style: normal;
    --text-9xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
    --text-9xl-leading-none-font-normal-font-weight: 400;
    --text-9xl-leading-none-font-normal-font-size: 128px;
    --text-9xl-leading-none-font-normal-letter-spacing: 0px;
    --text-9xl-leading-none-font-normal-line-height: 128px;
    --text-9xl-leading-none-font-normal-font-style: normal;
    --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    --shadow-md: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
    --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-sm-focus-ring-white: 0px 0px 0px 1px rgba(255, 255, 255, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-sm-focus-ring-1-focus-ring-indigo-500: 0px 0px 0px 1px rgba(99, 102, 241, 1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-sm-focus-ring-1-focus-ring-red-500: 0px 0px 0px 1px rgba(239, 68, 68, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-sm-focus-ring-2-focus-ring-offset-2-focus-ring-offset-white-focus-ring-indigo-500: 0px 0px 0px 4px
    rgba(99, 102, 241, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-sm-focus-ring-2-focus-ring-offset-2-focus-ring-offset-gray-800-focus-ring-indigo-500: 0px 0px 0px 4px
    rgba(99, 102, 241, 1),
    0px 0px 0px 2px rgba(31, 41, 55, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    --shadow-base-focus-ring-2-focus-ring-offset-2-focus-ring-offset-indigo-700-focus-ring-white: 0px 0px 0px 4px
    rgba(255, 255, 255, 1),
    0px 0px 0px 2px rgba(67, 56, 202, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    --shadow-base-focus-ring-2-focus-ring-offset-2-focus-ring-offset-gray-900-focus-ring-indigo-300: 0px 0px 0px 4px
    rgba(165, 180, 252, 1),
    0px 0px 0px 2px rgba(17, 24, 39, 1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    --shadow-lg-ring-1-ring-black-ring-opacity-5: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    --shadow-xl-ring-1-ring-black-ring-opacity-5: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
    --ring-1-ring-black-ring-opacity-5-shadow-md: 0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    --ring-1-ring-black-ring-opacity-5-shadow-lg: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    --ring-2-ring-white: 0px 0px 0px 2px rgba(255, 255, 255, 1);
    --ring-4-ring-white: 0px 0px 0px 4px rgba(255, 255, 255, 1);
    --ring-8-ring-white: 0px 0px 0px 8px rgba(255, 255, 255, 1);
    --focus-ring-1-focus-ring-indigo-500: 0px 0px 0px 1px rgba(99, 102, 241, 1);
    --focus-ring-1-focus-ring-white: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    --focus-ring-1-focus-ring-offset-2-focus-ring-offset-white-focus-ring-indigo-500: 0px 0px 0px 3px
    rgba(99, 102, 241, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1);
    --focus-ring-2-focus-ring-indigo-500: 0px 0px 0px 2px rgba(99, 102, 241, 1);
    --focus-ring-2-focus-ring-indigo-600: 0px 0px 0px 2px rgba(79, 70, 229, 1);
    --focus-ring-2-focus-ring-inset-focus-ring-indigo-500: ;
    --focus-ring-2-focus-ring-inset-focus-ring-indigo-600: ;
    --focus-ring-2-focus-ring-inset-focus-ring-white: ;
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-white-focus-ring-indigo-500: 0px 0px 0px 4px
    rgba(99, 102, 241, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-gray-50-focus-ring-indigo-500: 0px 0px 0px 4px
    rgba(99, 102, 241, 1),
    0px 0px 0px 2px rgba(249, 250, 251, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-gray-100-focus-ring-indigo-500: 0px 0px 0px 4px
    rgba(99, 102, 241, 1),
    0px 0px 0px 2px rgba(243, 244, 246, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-white-focus-ring-red-500: 0px 0px 0px 4px rgba(239, 68, 68, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-green-50-focus-ring-green-600: 0px 0px 0px 4px
    rgba(5, 150, 105, 1),
    0px 0px 0px 2px rgba(236, 253, 245, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-gray-800-focus-ring-white: 0px 0px 0px 4px rgba(255, 255, 255, 1),
    0px 0px 0px 2px rgba(31, 41, 55, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-gray-800-focus-ring-indigo-500: 0px 0px 0px 4px
    rgba(99, 102, 241, 1),
    0px 0px 0px 2px rgba(31, 41, 55, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-indigo-600-focus-ring-white: 0px 0px 0px 4px
    rgba(255, 255, 255, 1),
    0px 0px 0px 2px rgba(79, 70, 229, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-indigo-700-focus-ring-white: 0px 0px 0px 4px
    rgba(255, 255, 255, 1),
    0px 0px 0px 2px rgba(67, 56, 202, 1);
    --focus-ring-2-focus-ring-offset-2-focus-ring-offset-gray-900-focus-ring-indigo-300: 0px 0px 0px 4px
    rgba(165, 180, 252, 1),
    0px 0px 0px 2px rgba(17, 24, 39, 1);
}
